* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eee;
}

.card {
    width: 300px;
    height: 300px;
    /* border: 1px solid #000; */
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -150px;
    perspective: 500px;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.card:hover .content {
    transform: rotateY(180deg);
}

.front,
.back {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #fff;
    font-size: 60px;
    font-family: verdana;
    text-transform: capitalize;
    text-align: center;
    line-height: 300px;
    border-radius: 5px;
    color: tomato;
    backface-visibility: hidden;
}

.back {
    background-color: tomato;
    color: #fff;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}