body {
    background: slategrey;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

#wrapper {
    background-color: #fff;
    width: 1200px;
    margin: 0 auto;
}

#header {
    background: crimson;
    color: #fff;
    height: 100px;
}

#header h1 {
    padding: 30px 0 0 20px;
}

#menu {
    background: lightsalmon;
}

#menu ul {
    margin: 0;
    padding: 0;
}

#menu li {
    display: inline-block;
}

#menu li a {
    display: block;
    padding: 10px 13px;
    text-decoration: none;
    color: #000;
}

#menu li a:hover {
    background-color: crimson;
    color: #fff;
}

#content {
    width: 1000px;
    min-height: 500px;
    box-sizing: border-box;
    padding: 15px;
    float: left;
}

#content img {
    width: 200px;
    border: 20px solid #000;
    box-sizing: border-box;
}

#sidebar {
    width: 200px;
    background: lightblue;
    min-height: 500px;
    float: right;
}

#sidebar ul {
    margin: 0;
    padding: 0;
}

#sidebar li {
    border: 0px solid #000;
    list-style: inside;
    line-height: 40px;
}

#sidebar li:hover {
    background-color: crimson;
    color: #fff;
}

#sidebar a {
    text-decoration: none;
    color: #000;
}

#footer {
    background: lightsalmon;
    clear: both;
}