/* Media Queries */

.container {
    width: 200px;
    height: 200px;
    background: lightcoral;
    text-align: center;
    margin: 0 auto;
}

@media screen and (max-width:1200px) {
    .container {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        background: lightgoldenrodyellow;
    }
}

@media screen and (max-width:1000px) {
    .container {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        background: lightgoldenrodyellow;
    }
}

@media screen and (max-width:700px) {
    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        background: lightseagreen;
    }
}

@media screen and (max-width:480px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;
        background: lightsalmon;
    }
}