* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    width: 400px;
    height: 350px;
    background: url(./images/flowers-gddf8cd29b_1920.jpg);
    background-size: cover;
    margin: 17rem auto;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}

.test {
    width: 100%;
    height: 100%;
    background-color: crimson;
    opacity: 50%;
    text-align: center;
    line-height: 350px;
    font-size: 1.5rem;
    font-family: arial;
    color: #fff;
    border-radius: 30px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-400px);
    transition: all 0.5s;
}

.box:hover .test {
    transform: translateY(0px);
}