/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent {
    width: 400px;
    height: 350px;
    background: lightgray;
    margin: 5rem auto;
    perspective: 800px;
    transform-style: preserve-3d;
    transform: rotateY(30deg);
}

.child {
    width: 400px;
    height: 80%;
    background-color: lightcoral;
    text-align: center;
    line-height: 350px;
    font-family: arial;
    color: #ffff;
    transform: rotateX(30deg);
    transform-origin: top;
    animation-name: animate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes animate {
    0% {
        transform: rotateX(-90deg);
    }
    100% {
        transform: rotateX(100deg);
    }
} */

:root {
    --primary-color: #eee;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--primary-color);
}

.container {
    width: 300px;
    height: 300px;
    position: absolute;
    border: 0px solid #000;
    left: 50%;
    top: 50%;
    margin: -150px;
    perspective: 800px;
}

.img {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.container:hover .img {
    transform: rotateY(180deg);
}

.front,
.back {
    width: 100%;
    height: 100%;
    position: absolute;
    /* background-color: #fff; */
    background: url(./images/flowers-gddf8cd29b_1920.jpg);
    background-size: cover;
    color: tomato;
    backface-visibility: hidden;
    border-radius: 5px;
    text-align: center;
    font-size: 60px;
    line-height: 300px;
}

.back {
    backface-visibility: hidden;
    /* background-color: tomato; */
    background: url(./images/river-g833c539b0_1920.jpg);
    background-size: cover;
    color: #fff;
    transform: rotateY(180deg);
    position: relative;
    overflow: hidden;
}

.show {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    top: -100%;
    left: 0;
    transition: all 0.3s;
}

.back:hover .show {
    top: 0;
}