/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */


/* Min Max Height */


/* .container {
    width: 500px;
    min-height: 200px;
    max-height: 600px;
    border: 2px solid lightseagreen;
    margin: 10px auto;
} */


/* Min Max Width */


/* .container {
    min-width: 400px;
    height: 700px;
    border: 2px solid lightsalmon;
}

img {
    width: 100%;
} */


/* Border Box */


/* 
.container {
    width: 400px;
    border: 200px solid #000;
    padding: 50px;
    box-sizing: border-box;
} */


/* Overflow */


/* .container {
    width: 500px;
    height: 400px;
    border: 2px solid royalblue;
    overflow: hidden;
    overflow: scroll;
    overflow: auto;
    overflow: visible; default
    overflow-x:;
    overflow-y:;
} */


/* Border Radius */


/* 
.container {
    width: 500px;
    height: 450px;
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px auto;
    border: 2px solid lightseagreen;
    border-top-left-radius: 20px;
    border-top-right-radius: 130px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 40px;
    border-radius:;
} */


/* Box Shadow */


/* .container {
    width: 500px;
    height: 400px;
    border: 2px solid lightgreen;
    box-shadow: 2px 2px 5px 5px #000;
    box-shadow: 2px 2px 4px #000 inset;
} */


/* float */


/* 
.container {
    width: 500px;
    height: 300px;
    border: 2px solid #000;
    float: left;
    margin-right: 10px;
}

.sub_container {
    width: 500px;
    height: 300px;
    border: 2px solid #818181;
    float: right;
    float: left;
    margin-right: 10px;
}

.third {
    width: 400px;
    border: 2px solid rebeccapurple;
    float: left;
} */


/* Clear */


/* #box {
    width: 400px;
    border: 2px solid #000;
    background-color: lightcoral;
    float: left;
}

#box2 {
    width: 400px;
    border: 2px solid #818181;
    background-color: lightpink;
    float: left;
}

#box3 {
    border: 2px solid lightgreen;
    background-color: lightseagreen;
    clear: both;
} */


/* Font Properties */


/* #box {
    width: 400px;
    border: 2px solid #000;
    padding: 10px;
    font-size: 20px;
    font-size: 30%;
    font-size: 1em;
    line-height: 2em;
    line-height: 35px;
    font-weight: bold;
    font-weight: normal;
    font-weight: bolder;
    font-weight: lighter;
    font-family: arial;
    font-style: italic;
    font-style: oblique;
    font-variant: small-caps;
    font: oblique small-caps lighter 1em/35px arial, helvetica, verdana;
} */


/* Text Formatting */


/* #box {
    width: 400px;
    border: 2px solid #000;
    padding: 10px;
    text-align: justify;
    text-align: right;
    text-align: center;
    text-align-last: right;
    text-align-last: center;
    text-transform: uppercase;
    text-transform: lowercase;
    text-transform: capitalize;
    text-indent: 100px;
    word-spacing: 30px;
    letter-spacing: 20px;
    
} */


/* Text Decoration */


/* #box {
    width: 400px;
    border: 2px solid #000;
    text-decoration: underline;
    text-decoration: overline;
    text-decoration: line-through;
    text-decoration: none;
    text-decoration-line: underline;
    text-decoration-color: red;
    text-decoration-style: dashed;
    text-decoration: underline red wavy;
} */


/* Word Wrap & Word Break */


/* 
#box {
    width: 400px;
    border: 2px solid #000;
    word-wrap: break-word;
    word-break: break-all;
} */


/* Text Shadow */


/* h1 {
    text-shadow: 2px 2px 1px red;
    text-shadow: 5px -5px 2px red;
    text-shadow: 2px 2px 1px red, 4px 4px 3px #000, 6px 6px 5px royalblue;
} */


/* White Space */


/* #box {
    width: 400px;
    border: 2px solid #000;
    white-space: nowrap;
    white-space: pre-line;
    white-space: pre;
    white-space: pre-wrap;
} */


/* Text Overflow */


/* #box {
    width: 300px;
    border: 2px solid #000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} */


/* Writing Mode */


/* #box {
    width: 400px;
    border: 2px solid #000;
    writing-mode: vertical-lr;
    writing-mode: vertical-rl;
    writing-mode: sideways-rl;
    writing-mode: sideways-lr;
    
} */


/* Column Count */


/* #box {
    width: 1000px;
    border: 2px solid #000;
    column-count: 3;
    column-width: 300px;
    column-gap: 50px;
    column-rule: 5px double red;
}

h2 {
    column-span: all;
} */


/* @font-face rule */


/* 
@font-face {
    font-family: openSans;
    src: url(./font/OpenSans-Regular-webfont.eot), url(./font/OpenSans-Regular-webfont.woff);
}

@font-face {
    font-family: alexFont;
    src: url(./font/AlexBrush-Regular.ttf);
}

h1 {
    text-align: center;
    font-size: 3rem;
    font-family: alexFont;
}

#box {
    width: 500px;
    border: 2px solid #000;
    text-align: justify;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    font-family: openSans;
} */


/* Google fonts */


/* @import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Lobster&display=swap'); */


/* h1 {
    text-align: center;
    font-size: 3rem;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

#box {
    width: 500px;
    border: 2px solid #000;
    margin: 0 auto;
    text-align: justify;
    padding: 10px;
    font-size: 1.2rem;
    font-family: 'Lobster', cursive;
} */


/* List Style */


/* ul {
    border: 1px solid #000;
    list-style-type: none;
    list-style-position: inside;
    list-style-image: url(./images/right_arrow.png);
    list-style: none inside url(./images/right_arrow.png);
}

ul li {
    padding: 3px 0;
}

ol {
    list-style-type: upper-alpha;
    list-style: none inside url(./images/8725431_arrow_circle_right_icon.png);
} */


/* Resize Property */


/* #box {
    border: 1px solid #000;
    background: papayawhip;
    text-align: center;
    width: 500px;
    height: 500px;
    overflow: auto;
    resize: vertical;
} */


/* Calc */


/* Var Function */


/* :root {
    --primary-color: red;
    --secondary-color: lightblue;
}

h1 {
    background-color: var(--primary-color);
}

#box1 {
    background: var(--secondary-color);
} */