* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.base {
    width: 350px;
    height: 250px;
    background: #818181;
    margin: 100px auto;
}

#box {
    width: 350px;
    height: 250px;
    background: tomato;
    text-align: center;
    line-height: 250px;
    transform: perspective(800px) rotateX(0deg);
    animation-name: animate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    transition: animation 3s;
}

@keyframes animate {
    0% {
        transform: perspective(800px) rotateX(0);
    }
    50% {
        transform: perspective(800px) rotateX(60deg);
    }
    100% {
        clip-path: circle();
        transform: perspective(800px) rotateX(180deg) translateZ(200px);
    }
}