* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#box {
    width: 300px;
    height: 300px;
    background-color: tomato;
    margin: 0px auto;
    transform: rotate(30deg);
    transform: skewX(30deg);
    transform: skewY(40deg);
    transform: skew(30deg, 10deg);
    transform: rotate(30deg);
    transform-origin: left top;
    transform: translate(30px, 40px);
    transform: translateX(200px);
    transform: translateY(150px);
    transform: scale(2);
    transform: scaleX(2);
    transform-origin: left top;
    transform: scaleY(2);
    transform: matrix(1, -0.3, 0, 1, 0, 0);
}